<a href="https://colab.research.google.com/github/jesuscantillo/laboratorio1/blob/main/PROYECTOipynb.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

## **Misi√≥n TIC 2020 100 mil programadores**# 

![descarga.png]()

**Exploratory analysis- Jesus Cantillo Guerrero, Jose Ferrer Vidal & Juan Guzman Restrepo**
---


Data provided by:
Ministry of Information and Communications Technologies, Colombia.

# ***I-General Review Of Data***

*Student and applicant information. Learning path 1 is aimed at students in grades 9, 10 and 11 of official schools in the country. Students will be able to choose between programming fundamentals and digital creative industries. Learning path 2 is aimed at Colombians who are interested in developing programming skills. It has a basic cycle (basic programming, programming fundamentals and software development); and a deepening cycle (web application).*

In [ ]:
import pandas as pd

In [ ]:
file = "https://www.datos.gov.co/resource/2emd-i46m.csv"
df = pd.read_csv(file);

In [ ]:
df

,fecha_corte,departame_nombre,municipio_nombre,estado_formacion,estados,convocatoria,estrato_social,edad,genero,ruta,grado,meta_beneficiario,inversion,meta_dinero,fecha_vigencia
0,2021-10-01,QUINDIO,ARMENIA,ASPIRANTE,ASPIRANTES,1,3,29,MASCULINO,RUTA 2,-1,NaN,NaN,NaN,2021-12-31
1,2021-10-01,QUINDIO,ARMENIA,ASPIRANTE,ASPIRANTES,1,3,29,MASCULINO,RUTA 2,-1,NaN,NaN,NaN,2021-12-31
2,2021-10-01,QUINDIO,ARMENIA,ASPIRANTE,ASPIRANTES,1,3,29,MASCULINO,RUTA 2,-1,NaN,NaN,NaN,2021-12-31
3,2021-10-01,QUINDIO,ARMENIA,ASPIRANTE,ASPIRANTES,1,3,29,MASCULINO,RUTA 2,-1,NaN,NaN,NaN,2021-12-31
4,2021-10-01,QUINDIO,ARMENIA,ASPIRANTE,ASPIRANTES,1,3,29,MASCULINO,RUTA 2,-1,NaN,NaN,NaN,2021-12-31
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
995,2020-12-31,ANTIOQUIA,MEDELLIN,ASPIRANTE,ASPIRANTES,1,3,35,MASCULINO,RUTA 2,-1,NaN,NaN,NaN,2020-12-31
996,2020-12-31,ANTIOQUIA,MEDELLIN,ASPIRANTE,ASPIRANTES,1,3,35,MASCULINO,RUTA 2,-1,NaN,NaN,NaN,2020-12-31
997,2020-12-31,ANTIOQUIA,MEDELLIN,ASPIRANTE,ASPIRANTES,1,3,35,MASCULINO,RUTA 2,-1,NaN,NaN,NaN,2020-12-31
998,2020-12-31,ANTIOQUIA,MEDELLIN,ASPIRANTE,ASPIRANTES,1,3,35,MASCULINO,RUTA 2,-1,NaN,NaN,NaN,2020-12-31
999,2020-12-31,ANTIOQUIA,MEDELLIN,ASPIRANTE,ASPIRANTES,1,3,35,MASCULINO,RUTA 2,-1,NaN,NaN,NaN,2020-12-31

**NaN values, these values will be cleaned.**

In [ ]:
#Elimination of columns with NaN values

df = df.drop(['meta_dinero'], axis=1)
df = df.drop(['meta_beneficiario'], axis=1)
df = df.drop(['inversion'], axis=1)

In [ ]:
df

,fecha_corte,departame_nombre,municipio_nombre,estado_formacion,estados,convocatoria,estrato_social,edad,genero,ruta,grado,fecha_vigencia
0,2021-10-01,QUINDIO,ARMENIA,ASPIRANTE,ASPIRANTES,1,3,29,MASCULINO,RUTA 2,-1,2021-12-31
1,2021-10-01,QUINDIO,ARMENIA,ASPIRANTE,ASPIRANTES,1,3,29,MASCULINO,RUTA 2,-1,2021-12-31
2,2021-10-01,QUINDIO,ARMENIA,ASPIRANTE,ASPIRANTES,1,3,29,MASCULINO,RUTA 2,-1,2021-12-31
3,2021-10-01,QUINDIO,ARMENIA,ASPIRANTE,ASPIRANTES,1,3,29,MASCULINO,RUTA 2,-1,2021-12-31
4,2021-10-01,QUINDIO,ARMENIA,ASPIRANTE,ASPIRANTES,1,3,29,MASCULINO,RUTA 2,-1,2021-12-31
...,...,...,...,...,...,...,...,...,...,...,...,...
995,2020-12-31,ANTIOQUIA,MEDELLIN,ASPIRANTE,ASPIRANTES,1,3,35,MASCULINO,RUTA 2,-1,2020-12-31
996,2020-12-31,ANTIOQUIA,MEDELLIN,ASPIRANTE,ASPIRANTES,1,3,35,MASCULINO,RUTA 2,-1,2020-12-31
997,2020-12-31,ANTIOQUIA,MEDELLIN,ASPIRANTE,ASPIRANTES,1,3,35,MASCULINO,RUTA 2,-1,2020-12-31
998,2020-12-31,ANTIOQUIA,MEDELLIN,ASPIRANTE,ASPIRANTES,1,3,35,MASCULINO,RUTA 2,-1,2020-12-31
999,2020-12-31,ANTIOQUIA,MEDELLIN,ASPIRANTE,ASPIRANTES,1,3,35,MASCULINO,RUTA 2,-1,2020-12-31

In [ ]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1000 entries, 0 to 999
Data columns (total 12 columns):
 #   Column            Non-Null Count  Dtype
---  ------            --------------  -----
 0   fecha_corte       1000 non-null   object
 1   departame_nombre  1000 non-null   object
 2   municipio_nombre  1000 non-null   object
 3   estado_formacion  1000 non-null   object
 4   estados           1000 non-null   object
 5   convocatoria      1000 non-null   int64
 6   estrato_social    1000 non-null   object
 7   edad              1000 non-null   int64
 8   genero            1000 non-null   object
 9   ruta              1000 non-null   object
 10  grado             1000 non-null   int64
 11  fecha_vigencia    1000 non-null   object
dtypes: int64(3), object(9)
memory usage: 93.9+ KB

In [ ]:
df.describe()

       convocatoria         edad        grado
count        1000.0  1000.000000  1000.000000
mean            1.0    32.710000     0.930000
std             0.0    24.128989     4.319231
min             1.0     0.000000    -1.000000
25%             1.0    20.000000    -1.000000
50%             1.0    23.000000    -1.000000
75%             1.0    35.000000    -1.000000
max             1.0   121.000000    11.000000

In [ ]:
#Limpieza de los estratos sociales "a" --- futura traduccion
df= df.drop(df[df["estrato_social"]=="a"].index)

In [ ]:
60 in df.edad.values

True

In [ ]:
121 in df.edad.values

True

In [ ]:
0 in df.edad.values

True

Possible bad data?
121 year old person?

In [ ]:

df_baddata_idx=df[df["edad"]==121].index
df = df.drop(df_baddata_idx)
df_baddata_idx=df[df["edad"]==0].index
df = df.drop(df_baddata_idx)

In [ ]:
df.unique("estrato_social")

AttributeError: ignored

# ***II-Visualization of quantitative variables***

In [ ]:
import seaborn as sns

In [ ]:
#ROUTE 1
df_minus1grade_idx = df[df["grado"]==-1].index
df_route1 = df.drop(df_minus1grade_idx)

In [ ]:
sns.countplot(x='estrato_social', data=df_route1)